.cart-icon-link {
    text-decoration: none;
    color: inherit;
}

.cart-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shopping-icon {
    width: 24px;
    height: 24px;
}

.light-theme .shopping-icon {
    stroke: #000;
}

.dark-theme .shopping-icon {
    stroke: #fff;
}

.item-count {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    bottom: 5px;
    color: red;
}